.App {
    text-align: center;
    margin-top: 50px;
}

input {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

button {
    padding: 10px;
    font-size: 16px;
}

div {
    margin: 10px 0;
}

button {
    cursor: pointer;
}

button:hover {
    background-color: #9af2fd;
}

button:active {
    background-color: #ccc;
}